header {
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.logoImg {
  mix-blend-mode: multiply;
}

.table-bordered {
  text-align: center;
}

.aluno-container header img{
  height: 60px;
}

.aluno-container header button{
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #DCDCE6;
  background: green;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.aluno-container header button:hover{
  border-color: #510bac;
}

table, th, td {
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}